

table{
    border-collapse: collapse;
    
    
}
th{
    padding: 10px;
    background-color: blueviolet;

}
tfoot{text-align: left;}


tr,
td {
    padding: 10px;
}

tr:nth-child(odd){
    background-color: lightgreen;
}



